$crimson: rgb(168, 15, 46);


@mixin flex($justify, $align){
  display:flex;
  justify-content:$justify;
  align-items:$align;
}

*{
  font-family: "Grenze Gotisch", serif;
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  background-image: url("../../images/background_cropped.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
nav {
  @include flex(left, center);
  height: 80px;
  background-color: rgb(255, 232, 168);
  gap: 15px;
}
h1 {
  color: crimson;
  margin-left: 15px;
  font-size: 46px;
}
.div1 {
  @include flex(center, center);
  position: relative; // anchor for pos absolute 
}

.img1 {
  display: block;
}

.maintext {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: $crimson;
  text-shadow: 0 0 8px rgba(255, 220, 150, 0.9),
               0 0 16px rgba(255, 200, 100, 0.6);
}

.buttons {
  position: absolute;
  font-size: 32px;
  text-decoration: none;
  color: $crimson;
  text-shadow: 0 0 8px rgba(255, 220, 150, 0.9),
               0 0 16px rgba(255, 200, 100, 0.6);
  transition: 0.2s;
  &:first-of-type {
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  &:last-of-type {
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover {
    scale: 1.1;
  }
}

.login {
  font-size: 32px;
  margin-left: auto;
  color: $crimson;
}